@{
    if (Session["Estado"] == null) //Si no se encuentra iniciada la sesion se redirige a la pagina de inicio de sesion.
    {
        Response.Redirect(Url.Action("LogIn", "Home"));
    }
}
<style>
    #reportViewer1 {
        position: absolute;
        left: 13%;
        right: 5px;
        top: 7%;
        bottom: 5px;
        overflow: visible;
        font-family: Verdana, Arial;
    }
</style>


<div class="right_col" role="main">
    <div role="main">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="page-title">
                    <div class="text-center">
                        @*<a href="~/Files/3333.pdf"><span class="glyphicon glyphicon-new-window"></span> Ver En Ventana Nueva</a>*@
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>Evaluacion Salary</h3>
                            </div>
                            <div class="panel-body">
                                <iframe type="application/pdf" alt="No existe" id="mipdf" class="iframepopup" width="100%" height="750" scrolling="auto"></iframe>
                            </div>
                        </div>
                        <div id="divContainer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    <script>

        $(document).ready(function () {
            var idreEvaluacion = @Session["ID_ReEvaluacion"];
            verReporte(idreEvaluacion);

        });

        function verReporte(idreEvaluacion) {

            cache: false;
            try{
                $.ajax({
                    type: "POST",
                    async: true,
                    data: "{ idEvaluacion: "+idreEvaluacion+"}",
                    url: "@Url.Action("CarcharSalary", "Home")",
                    contentType: "application/json; charset=utf-8;",
                success: function (datos) {
                    if (datos == "No se ha podido comprobar credenciales.") {
                        swal("Favor de contactar a sistemas.", "Error", "error");
                        console.log("Error: " + datos);
                    }
                    if (datos != false) {
                        //console.log(datos);
                        $("#mipdf").attr("src", "data:application/pdf;base64," + datos);
                    }
                    else {
                        swal("No existen evaluaciones anteriores elaboradas.", "Atencion.", "error");
                    }

                    //console.log(datos);
                },
                error: function (request, status, errorThrown) {
                    swal("Favor de contactar a sistemas.", "Error!", "Error");
                    console.log(request);
                    console.log(status);
                    console.log(errorThrown);
                }
            });
        }
        catch (e) {
            console.log(e.description + "\n" + e.message + "\n" + e);
        }
        }
       
                       

                        //function Funcionprueba(){
                        //    $.ajax({
                        //        type: "POST",
                        //        async: false,
                        //        url: "Home/EnviarParametrosReporte",
                        //        contentType: "application/json",
                        //        data: "{}",
                        //        contentType: "application/json; charset=utf-8",
                        //        dataType: "json",
                        //    success: function (datos) {

                        //        if (datos) {
                        //            console.log(datos.d);
                        //        }
                        //    },
                        //    error: function (err) {
                        //        alert("Error: " + err);
                        //        console.log(err);
                        //    }
                        //});
                        //}

    </script>
}
